<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- spring配置扫描包 -->
	<context:component-scan
		base-package="com.hxy.*.service,com.hxy.*dao" />
	<!-- 配置文件导入 -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
			</list>
		</property>
	</bean>
   <!-- &lt;!&ndash; mybatis的核心类书写SqlSessionFactoryBean &ndash;&gt;
	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classPath:mybatis-config.xml"></property>
		<property name="mapperLocations"
			value="classPath:mapping/**/*.xml"></property>
	</bean>
    &lt;!&ndash; spring加载mybatis配置文件 &ndash;&gt;
	<bean id="mapperScannerConfigurer"
		class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hxy.*.dao"></property>
		<property name="sqlSessionFactory" value="sqlSessionFactory"/>
	</bean>-->

	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<import resource="spring-druid.xml" />
</beans>
